@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto+Condensed&family=Ubuntu:ital,wght@0,500;1,400&display=swap");

#root {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

p,
label,
button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
}

h1 {
  text-align: center;
}

span,
h1,
h2 {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: white;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  background-color: black;
  position: sticky;
  top: 0;
}
@media (max-width: 850px) {
  nav .cod-nav {
    display: flex;
    flex-direction: column !important;
  }
}

nav .navbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 9999;
  cursor: pointer;
}

nav .navbar .bar {
  height: 6px;
  width: 30px;
  background-color: white;
}

nav .cod-nav {
  position: absolute;
  top: 0;
  left: 100vw;
  transition: left 1.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  z-index: 999;
}
nav .cod-nav.open {
  left: 0;
  transition-property: left;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
}

nav .cod-nav .nav-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

nav .cod-nav .nav-links span {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  /* font-weight: 900; */
}
nav .cod-nav .nav-links a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
nav .cod-nav .nav-links.contact-nav {
  background-image: url(../public/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav .cod-nav .nav-links.freelancing-nav {
  background-image: url(../public/mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav .cod-nav .nav-links.blogs-nav {
  background-image: url(../public/lights.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .cod-nav .nav-links.about-nav {
  background-image: url(../public/tokyo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .cod-nav .nav-links.gallery-nav {
  background-image: url(../public/error.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .cod-nav .nav-links.home-nav {
  background-image: url(../public/soccer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home h1,
.about h1,
.freelancing h1,
.contact h1,
.blogs h1,
.gallery h1 {
  font-size: 3rem;
  margin: 0;
}
.home,
.about,
.freelancing,
.contact,
.blogs,
.gallery {
  padding: 40px;
}

.contact .info {
  display: grid;
  place-items: center;
}
.home {
  background-color: white;
  color: #334b3c;
}
.home h1 {
  text-align: left !important;
}
.home button {
  background-color: #061824;
  color: #ff5c6d;
  padding: 20px 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 2em;
}

.home .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home .top .text {
  max-width: 600px;
}

.home .top .image img {
  height: 450px;
  width: 500px;
}
.contact p,
.contact span,
.contact h2 {
  text-align: center;
}
@media (max-width: 599px) {
  .home .top {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .home .top .image img {
    height: 300px;
    width: 100%;
  }
}
.about {
  background-color: #2e122d;
  color: #ee4540;
}
.gallery {
  background-color: #fc4909;
}
.contact {
  background-color: #061824;
}
.freelancing {
  background-color: #31352f;
}
.blogs {
  background-color: #382bdc;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}

.icons i {
  cursor: pointer;
  color: black;
}

.gallery .gallery-items,
.freelancing .freelancing-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery .item,
.freelancing .item {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.gallery .item .item-image img,
.freelancing .item .item-image img {
  object-fit: cover;
  max-height: 150px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.gallery .item-links,
.freelancing .item-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gallery .item-links span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  background-color: orange;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.freelancing .item-links span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  background-color: #776c52;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.freelancing .item-links a,
.gallery .item-links a {
  text-decoration: none;
}

.form-parent {
  display: flex;
  gap: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.form input,
.form textarea {
  padding: 10px;
  margin-bottom: 20px;
}
.form label {
  font-size: 1.1rem;
}
.form button {
  padding: 10px;
  background-color: blue;
  font-size: 1.2rem;
  border: none;
  background-color: #f97b20;
  color: white;
}

.contact .icons i {
  color: white !important;
}
.contact .detail {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .contact .form-parent {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  .freelancing .freelancing-items {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
}

.freelancing-terms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* gap: 20px; */
  padding: 20px;
  place-content: center;
  margin-bottom: 30px;
}
.freelancing-terms .term {
  box-shadow: black 0px 8px 24px;
  background-color: #111a19;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

@media (max-width: 900px) {
  .freelancing-terms {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .freelancing-items {
    grid-template-columns: 1fr !important;
    max-width: 600px;
    place-items: center;
  }
  .freelancing h1,
  .gallery h1 {
    text-align: center;
  }
  .gallery-items {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 550px) {
  .gallery-items,
  .freelancing-items {
    grid-template-columns: 1fr !important;
  }
  .freelancing-terms {
    grid-template-columns: 1fr !important;
  }
}
